:root {
  --ev-c-white: #ffffff;
  --ev-c-white-soft: #f8f8f8;
  --ev-c-white-mute: #f2f2f2;

  --ev-c-black: #1b1b1f;
  --ev-c-black-soft: #222222;
  --ev-c-black-mute: #282828;

  --ev-c-gray-1: #515c67;
  --ev-c-gray-2: #414853;
  --ev-c-gray-3: #32363f;

  --ev-c-text-1: rgba(255, 255, 245, 0.86);
  --ev-c-text-2: rgba(235, 235, 245, 0.6);
  --ev-c-text-3: rgba(235, 235, 245, 0.38);

  --ev-button-alt-border: transparent;
  --ev-button-alt-text: var(--ev-c-text-1);
  --ev-button-alt-bg: var(--ev-c-gray-3);
  --ev-button-alt-hover-border: transparent;
  --ev-button-alt-hover-text: var(--ev-c-text-1);
  --ev-button-alt-hover-bg: var(--ev-c-gray-2);
}

:root {
  // 默认主题 (浅色)
  --color-background: #f5f5f5;
  --theme-text-1: #222;
  --theme-text-2: #3d3d3d;
  --theme-btn: #eee;
  --theme-main-btn: #fdfdfd;
  --theme-btn-hover1: #e9eaec;
  --theme-btn-hover2: #cacccc;
  --theme-top: #2a2d33;
  --theme-top-btn-hover: #3c3f42;
  --theme-top-btn-hover-close: #e81123;
  --theme-border: #c6c9c9;
  --theme-icon: #759aa0;
  --theme-icon-func: #515c67;
  --theme-cursor: #218d8f;
  --theme-hover: #d6dada;
  --theme-btn-active: #c4d3f0;
  --theme-screen: #edeeee;
  --theme-spical-btn: #339ca8;
  --theme-isSolving-btn: #626c91;
  --theme-history-bg: #4dcee828;
  --theme-msg-info: #626c91;
  --theme-active-history: #4dcee8;
}

:root.dark {
  --color-background: #181c21;
  --theme-text-1: #eeefef;
  --theme-text-2: #cde0e0;
  --theme-btn: #252d34;
  --theme-main-btn: #1e2125;
  --theme-btn-hover1: #31343a;
  --theme-btn-hover2: #363a3f;
  --theme-top-btn-hover: #363a3f;
  --theme-icon-func: #9aa2a6;
  --theme-cursor: #ffd866;
  --theme-border: #5d6267;
  --theme-icon: #bcbcbc;
  --theme-screen: #2a2d33;
  --theme-spical-btn: #fdfdfd;
  --theme-isSolving-btn: #4dcee8;
  --theme-history-bg: #31343a85;
  --theme-msg-info: #9f76e3;
  --theme-active-history: #ffd966;
}

:root {
  --theme-background: var(--color-background);
  --color-background-soft: var(--ev-c-black-soft);
  --color-background-mute: var(--ev-c-black-mute);

  --color-text: var(--theme-text-1);
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--theme-screen);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-isSolving-btn);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background: #bfbfbf;
}
